*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(193, 218, 235, 0.882); /*rgba(193, 218, 235, 0.882);*/
    display: flex;
    height: 100vh;
    margin: 0px;
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

.container
{
    margin: auto; /*This puts the element in the center of the page, as long as i have display:grid in the body */
}

.card
{
    background: white;
    width: 300px;
    height: 475px;
    border-radius: 30px;
}

.image img
{
    height: 40%;
    padding: 20px;
    width: 100%;
    border-radius: 30px;
}

.img-text
{
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    margin: 10px;

}

.img-text p
{
    color: rgb(121, 121, 121);
}

/* Mobile design */


@media (max-width: 480px)
{
    body
    {
        max-height: 100vh;
        margin-top: 0px;

    }
     
}
